@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
html:has(#menuOpened){
  overflow: hidden;
}
html:has(#menuOpened) main{
  transition-duration: 0.3s;
  filter: blur(10px);
}
body {
  font-family: 'Work Sans', sans-serif;
  overflow: auto;
  overflow-x: hidden;
  
}



